*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		 box-sizing: border-box;
}

body{
	background: rgb(2,0,36);
	background: linear-gradient(281deg, rgba(2,0,36,1) 0%, rgba(176,57,175,0.5886729691876751) 0%, rgba(255,0,215,0.2637429971988795) 84%);
}


@font-face {
  font-family: 'Metal mania';
  font-style: normal;
  font-weight: 400;
 
  /*src: local('Metal Mania'), local('MetalMania-Regular'), url(http://themes.googleusercontent.com/static/fonts/metalmania/v2/_MPduYXiaptg6GQ2M6AHtJ0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
Esta estrategia solo funciono de forma remota, el local no lo toma
  */
    src: url('../fonts/Metal_Mania/MetalMania-Regular.ttf');
}

p{
	font-family: 'Metal Mania',cursive;
	font-size: 150%;
	text-align: center;
}

h1{
	text-align: center;
}

.mayusculas{
	text-transform: uppercase;
}

input[type=text],input[type=tel],input[type=password],input[type=email],select{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

input[type=file],input[type=checkbox]{
	width: 100%;
	padding: 12px;
}

input[type=checkbox]{
	width: 10%;
	padding: 22px;
	resize: vertical;
}
label{
	padding: 12px 12px 12px 0;/*padding-top,pa..right,pad..bottom,padding-left*/
	display: inline-block;
	font-weight: bold;
	float: right;
}

span{
	font-weight: bold;
	padding: 12px 12px 12px 12px;
}

input[type=submit],input[type=reset]{
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right
}

.container{
	border-radius: 5px;
	/*border: 1px solid red;*/
	background-color: rgb(57,207,102,0.3);
	padding-left: 100px;
	padding-right: 100px;	
	position: relative;
	top: 55px;

}

.col-25{
	float:left;
	width: 10%;
	margin-top:6px;
}

.col-75{
	
	float:left;
	width: 60%;
	margin-top:6px;
}

.col-75size{
	
	float:left;
	width: 30%;
	margin-top:6px;
}

.col-75check{
	
	float:left;
	width: 11%;
	margin-top:19px;
}
#row:after{
	content: "";
	display: table;
	clear: both;
}

.boton_menu{
	text-decoration: none;
	padding: 5px;
	font-weight: bold;
	font-size: 16px;
	color: #FFFFFF;
	background-color: #1883ba;
	border-radius: 6px;
	border: 2px solid #0016b0;

}

.boton_menu:hover{
	color: black;
	background-color: #0C6425;
}

#row2{
	
	padding: 10px 10px 10px 10px;
	
	display:flex;
	justify-content: center; 
}

.boton{ 
	
	
	border: 2px solid black; 
	text-align: center;
}

@media screen and (max-width: 600px){
	.col-25,.col-75,.col-75size,.col-75check,input[type=submit],input[type=reset]{
		width: 100%;
		margin-top: 0;
	}

	

	label{
		float: left;
	}

	.container{
	padding: 10px;
	}

	p{
		font-size: 120%;
	}

	h1{
		text-align: center;
		font-size: 190%;
	}	
}